<div class="buttons-group">
  <div class="quotation-label">
    <label href="/connection" class="standard-label">XXX Kms
    </label>
    <img src="./assets/images/kms.png" alt="départ de course" id="kms">
  </div>
  <div class="quotation-label">
    <label href="/connection" class="standard-label">XXX €uros
    </label>
    <img src="./assets/images/euros.png" alt="départ de course" id="euros">
  </div>
  <div class="quotation-label">
    <label href="/connection" class="standard-label">
      <a href="/search">
        Démarrer la course
      </a>
    </label>
    <img src="./assets/images/run.png" alt="départ de course" id="run">
  </div>
  <div class="quotation-label">
    <label href="/connection" class="standard-label">
      <a href="/search">
        Nouvelle recherche
      </a>
    </label>
    <img src="./assets/images/refresh.png" alt="départ de course" id="refresh">
  </div>
</div>
