<div class="buttons-group">
  <div class="search-label">
    <input href="/connection" id="start-input" placeholder="Départ" class="standard-label"/>
    <img src="./assets/images/start.png" alt="départ de course" id="start">
  </div>
  <div class="search-label">
    <input href="/create-account" id="finish-input" class="standard-label" placeholder="Arrivée"/>
    <img src="./assets/images/finish.png" alt="fin de course" id="finish">
  </div>
  <div class="search-label">
    <a href="quotation" class="standard-button">Générer le devis</a>
    <img src="./assets/images/euros.png" alt="départ de course" id="euros">
  </div>
  <div class="search-label">
    <a href="search" class="standard-button">Réinitialiser</a>
    <img src="./assets/images/refresh.png" alt="fin de course" id="refresh">
  </div>
</div>
