<div class="account-container">
  <form class="standard-labels">
    <input type="text" placeholder="Identifiant" class="standard-label">
    <input type="text" placeholder="Mot De Passe" class="standard-label">
    <div class="buttons">
      <div><a href="search"><img src="../../../../assets/images/check.png" alt="symbole validation" class="check"></a></div>
      <div><a href="connection"><img src="../../../../assets/images/delete.png" alt="symbole annulation" class="delete"></a></div>
    </div>
  </form>
  <div class="user-question">
    <a href="create-account" >Vous souhaitez créer un compte ?</a>
  </div>
</div>
