<div class="account-container">
  <form class="standard-labels">
    <input type="text" placeholder="Choisir Un Identifiant" class="standard-label">
    <input type="text" placeholder="Choisir Un Mot De Passe" class="standard-label">
    <input type="text" placeholder="Confirmer Le Mot De Passe" class="standard-label">
    <div class="buttons">
      <div><a href="connection"><img src="../../../../assets/images/check.png" alt="symbole validation" class="check"></a></div>
      <div><a href="create-account"><img src="../../../../assets/images/delete.png" alt="symbole annulation" class="delete"></a></div>
    </div>
  </form>
  <div class="user-question">
    <a href="connection">Vous avez déjà un compte ?</a>
  </div>
</div>
